#Bỏ qua tất cả các file có tên là config.json
config.json

#Bỏ qua file config.js trong thư mục src/core/settings
/src/core/settings/config.js

#Bỏ qua tất cả thư mục node_modules ở bất kỳ đâu trong dự án
node_modules/

